
<div class="card">
  <fieldset>
  <h1 id="app-Name">Search For Your MP</h1
    <p>Enter Postcode</p>
  <div>
    <form class="formgroup" name="myform" novalidate>
      <input type="text" ng-model="successCtrl.postcode" style="text-transform:uppercase" ng-required="true">
      <button class="btn" ng-disabled="myform.$invalid" ng-click="successCtrl.doSearch()">Search</button>
    </form>



  </div>
  <br><br>
  <div class="all-results" ng-show="successCtrl.validate && successCtrl.postcode">


  <section class="tab" ng-controller="TabController as tab">
  <ul class="nav nav-pills">
    <li btn-listng-class="{ active: tab.isSet(1) }">
      <a class="btn-tab" href ng-click="tab.setTab(1)">Basic Info</a></li>
    <li ng-class="{ active: tab.isSet(2) }">
      <a class="btn-tab" href ng-click="tab.setTab(2)">Expenses</a></li>
    <li ng-class="{ active: tab.isSet(3) }">
      <a class="btn-tab" href ng-click="tab.setTab(3)">Email</a></li>
    <li ng-class="{ active: tab.isSet(4) }">
      <a class="btn-tab" href ng-click="tab.setTab(4)">News</a></li>
    <li ng-class="{ active: tab.isSet(5) }">
      <a class="btn-tab" href ng-click="tab.setTab(5)">Finacial Info</a></li>
    <li ng-class="{ active: tab.isSet(6) }">
      <a class="btn-tab" href ng-click="tab.setTab(6)">Social</a></li>
    <li ng-class="{ active: tab.isSet(7) }">
      <a class="btn-tab" href ng-click="tab.setTab(7)">Issues</a></li>
  </ul>
  <br>

  <div ng-show="tab.isSet(1)">
    <h2>Basic Info</h2>
    <br>
    <div class="info">
      <p>Name: {{successCtrl.mpResults.full_name}}</p>
      <p>Party: {{successCtrl.mpResults.party}}</p>
      <p id="constituency">Constituency: {{successCtrl.mpResults.constituency}}</p>
      <p>{{successCtrl.mpResults.office[0].dept}}</p>
      </div>
      <p><img ng-src="http://www.theyworkforyou.com/{{successCtrl.mpResults.image}}" alt="No Image available" height="100px" width="100px"></img></p>
      <p><a target="_blank" class="web-link" ng-href="{{ successCtrl.votes.mp_website }}">Website</a></p>
      <p><a target="_blank" class="web-link" ng-href="http://www.theyworkforyou.com/mp/{{successCtrl.mpResults.person_id}}/{{successCtrl.mp_link_name}}/{{successCtrl.mpConstituency}}/votes">See how {{successCtrl.mpResults.full_name}} votes</a></p>

  </div>

  <div ng-show="tab.isSet(2)">
    <h2>Expenses</h2>
    <br>
    <a class="web-link" ng-href="{{ successCtrl.votes.expenses_url }}">Expenses Record</a>
    <p>Total expenses:</p>
    <p>{{ successCtrl.votes.expenses2009_total | currency:"£" }}</p>
  </div>
  <div ng-show="tab.isSet(3)">

    <h2>Email</h2>
    <p>Email {{ successCtrl.mpResults.full_name }}</p>
    <form method="post" name="form" role="form" ng-model="successCtrl" ng-submit="form.$valid && sendMessage(input)" novalidate>
      <p ng-show="success">Thanks for getting in touch!</p>
      <p ng-show="error">Something wrong happened!, please try again.</p>

      <fieldset>
        <div>
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" ng-model="input.name" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" ng-model="input.email" required>
        </div>
        <div>
          <label for="messsage">Message:</label>
          <textarea id="messsage" name="message" ng-model="input.message" required></textarea>
        </div>

      </fieldset>
      <button class="btn" type="submit" name="submit" value="submit">Send</button>
    </form>
  </div>
  <div ng-show="tab.isSet(4)">
    <h2>News</h2>
    <br>
    <ul class="news">
      <p ng-repeat= "links in successCtrl.newsResults.items">
        <a ng-href="{{links.link}}">{{links.title}}</a>
      </p>
    </ul>
  </div>
  <div ng-show="tab.isSet(5)">
    <h2>Financial Info</h2>
    <br>
    <div ng-model="successCtrl">
    <p> {{ successCtrl.mpResults.full_name }}'s finacial interests</p>
    <br>
      <div ng-bind-html="successCtrl.votes.register_member_interests_html | sanitize"></div>
    </div>
  </div>
  <br>
  <div ng-show="tab.isSet(6)">
    <h2>Social</h2>
    <p ng-show="successCtrl.mpTwitterHandle">Why not follow @<span data-ng-bind="successCtrl.mpTwitterHandle"></span>?</p>
    <br>
    <p ng-hide="successCtrl.mpTwitterHandle">This MP isn't on twitter</p>
    <br>
    <div class="twitter" id="timeline">
    </div>
  </div>
  <div ng-show="tab.isSet(7)">
    <h2>Raised Issues</h2>

    <div ng-repeat="comm in successCtrl.mpDetails.petitions">

    </div>

    <div ng-class="checkin.userState" ng-repeat="petition in successCtrl.mpDetails.petitions">
      <p>{{petition.issue}}</p>
      <button class="btn btn-love tooltip" ng-click="showLove(petition)"><span>Comment</span></button>

      <div class="showcheckins" ng-show="petition.show"> <!-- comment form -->
        <form class="cf" ng-submit="giveLove(petition, checkin.giftText)" novalidate>
          <input type="text" name="giftText" placeholder="What you saying" ng-model="checkin.giftText">
          <button type="submit" class="btn-small">+</button>
        </form>
        <div ng-repeat="key in petition.comments">
          {{key.name}}
        </div>
      </div> <!-- comment form closes -->

    </div>

    <form>
      <textarea ng-model="successCtrl.issue" type="text" name="issues"></textarea>
      <button ng-click="successCtrl.addIssue()">Raise issue</button>
    </form>
  </div>
</section>



</div>
  </div>
</fieldset>
</div>
