<!doctype html>
<html lang="en" ng-app="Politify">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Politify</title>

    <link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" />
    <!-- Bower Components -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
    <!-- Main App -->
    <script src="js/app.js"></script>


    <!-- Controllers -->
    <script src="js/layout/tabController.js"></script>
    <script src="js/controllers/successController.js"></script>
    <script src="js/controllers/registrationController.js"></script>
    <script src="js/controllers/userProfileController.js"></script>
    <!-- Services -->
    <script src="js/services/mpSearchFactory.js"></script>
    <script src="js/services/newsApiFactory.js"></script>
    <script src="js/services/votesFactory.js"></script>
    <script src="js/services/resultsFactory.js"></script>
    <script src="js/services/authenticationFactory.js"></script>
    <script src="js/services/mpDbFactory.js"></script>
    <script src="js/services/issuesFactory.js"></script>



    <!-- CSS -->
    <link rel="stylesheet" href="styling/css/style.css">
    <link rel="stylesheet" href="styling/css/custom.css">

    <!-- twitter -->
    <script src="http://platform.twitter.com/widgets.js"></script>

  </head>

  <body ng-controller="SuccessController as successCtrl">
    <header>
      <nav class="cf">
        <div class="branding"><a ng-href="#/">Politify</a></div>
      <ul>
        <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
        <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
        <li><a ng-show="currentUser"ng-href="#/account">My Account</a></li>
        <li><a ng-show="currentUser"ng-href="#/success">Search</a></li>
        <li class="sbar"><div ng-show="successCtrl.mpDetails">
          <form class="navform" name="myform" novalidate>
            <input class="sinput" type="text" ng-model="successCtrl.postcode" style="text-transform:uppercase" ng-required="true">
            <button class="btn-small" ng-disabled="myform.$invalid" ng-click="successCtrl.doSearch()">Search</button>
          </form>
        </div>
      </li>
      </ul>

    </nav>
    </header>

    <div class="userinfo" ng-show="currentUser" ng-controller="RegistrationController">
      <span class="userinfo">Hi {{ currentUser.firstname }}</span>
      <a ng-href="#/login" ng-click="logout()">logout</a>
    </div>

    <div class="main" ng-view>


    </div>

  </body>
  </html>
